h1 {
  color: #369;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
}

.container {
  width: 30%;
  margin: auto;
  padding-top: 1em;
  text-align: center;
}

.todoInput {
  font-size: 150%;
  width: 100%;
}

.todoList {
  font-size: 150%;
}

button {
  font-size: 150%;
}
#addButton {
  margin-top: 0.5em;
}