<div class="listItem" *ngFor="let todo of (todos$ | async)">
	<div>
		<mat-checkbox (click)="perform(todo.id)"></mat-checkbox>
	</div>
	
	<div *ngIf="(todo.isCompleted) else incomplete" class="todoItemComplete">
		{{todo.id}}. 
		<input #text type="text" value={{todo.text}} class="todoItemComplete" (keyup)="edit(todo.id, text.value)">
	</div>
	<ng-template #incomplete>
		<div>
			{{todo.id}}. 
			<input #text type="text" value={{todo.text}} (keyup)="edit(todo.id, text.value)">
		</div>
	</ng-template>

	<button mat-mini-fab (click)="delete(todo.id)" class="delete">X</button>
</div>
